.container {
  flex: 1;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 30%;
  background-color: #4A90E2;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 60px;
  align-items: center;
  justify-content: center;
}

.headerText {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: bold;
  width: 50%;
}

.loginContainer {
  width: 80%;
  margin-top: 50%;
  align-items: center;
}

.loginText {
  font-size: 24px;
  color: #333333;
  font-weight: 900;
  margin-bottom: 20px;
}

.fieldset {
  margin-bottom: 20px;
  border-width: 1px;
  border-color: #4A90E2;
  border-radius: 10px;
  padding-horizontal: 10px;
  padding-top: 10px;
}

.legend {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #FFFFFF;
  padding-horizontal: 5px;
  font-size: 16px;
  color: #4A90E2;
}

.inputContainer {
  flex-direction: row;
  align-items: center;
  padding-top: 1px;
  width: 100%;
}

.input {
  flex: 1;
  height: 50px;
  width: 90%;
  padding: 0;
  color: #333333;
}

.icon {
  width: 24px;
  height: 24px;
  tint-color: #4A90E2;
}

.loginButton {
  background-color: #4A90E2;
  padding-vertical: 10px;
  padding-horizontal: 80px;
  border-radius: 10px;
}

.loginButtonText {
  color: #FFFFFF;
  font-size: 16px;
}

.signupText {
  color: #333333;
  margin-top: 20px;
  text-align: center;
}

.signupLink {
  color: #4A90E2;
  text-decoration-line: none;
}
